* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
  }
  
  header {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .logo-icon {
    width: 90px;
    height: 60px;
    margin-left: 20px;
  }
  
  nav a {
    margin-right: 20px;
    font-size: 24px;
    color: #075E72;
    text-decoration: none;
    font-weight: bold;
  }
  
  .divider {
    height: 0.5px;
    width: 100%;
    background-color: #075E72;
    margin: 0;
    padding: 0;
  }
  
  .background-img {
    background: url("../static/background2.png") no-repeat center center fixed;  
    background-size: cover;
    position: relative;
    height: 70vh; 
    z-index: -1;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
 

.white-box-wrapper {
    position: relative;
    margin-top: -350px; 
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  
  .content-box {
    background-color: white;
    width: 1000px;
    height: 540px;
    display: flex;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    justify-content: space-between;
    border-radius: 20px;
  }
  
  .left-section {
    text-align: center;
    width: 40%;
  }
  
  .userava-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
  }
  
  .username {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .logout-btn {
    background-color: white;
    color: red;
    border: 1px solid red;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  
  .info-box {
    border: 1px solid #80C1CF;
    border-radius: 8px;
    padding: 15px 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  footer {
    background: url("../static/background2.png") no-repeat center center fixed;  
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    flex-wrap: wrap;
    direction: rtl;
  }
  
  .footer-contact {
    order: 2;
    color: #075E72; 
  }
  
  .footer-nav {
    order: 1; 
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px; 
  }
  
  .footer-nav a {
    margin: 0 10px;
    color: #075E72;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    top: -5px; 
  }
  
  .logo-icon-footer {
    width: 90px;
    height: 60px;
    margin-right: 10px;
  }

  .social-icons img {
    width: 24px;
    margin: 0 10px;
  }

  .white-box-wrapper {
    margin-bottom: 80px; 
  }