<html>
<html lang="ar">
<link rel="stylesheet" href="static/header.css">
<header>
    <div>
        <img class="logo" src="logo.png" />
        <nav>
            <ul>
                <li><a href="/"> من نحن؟ </a></li>
                <li><a href="{{ url_for('index') }}"> الصفحة الرئيسية</a></li>
            </ul>

            <div class="login-button">
                <a href="{{ url_for('signup') }}">تسجيل</a>
                <button class="signupbu">تسجيل الدخول</button>
            </div>
            <div class="user-info" style="display: none;">
                <span> مرحباً </span>
                <span class="user-name"> اسم المستخدم </span>
                <a href="">
                    <img class="user-photo" src="assets/userava.png">
                </a>

            </div>
    </div>
    <div class="line"></div>
    </nav>
    </div>
</header>
<script>
    fetch('header.html')
        .then(response => response.text())
        .then(data => {
            document.body.insertAdjacentHTML('afterbegin', data);
        });
</script>

</html>